.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  width: 100vw;
  background-color: #d9d9d9;
  font-size: 24px;
  color: black;
  text-wrap: nowrap;

  a,
  div {
    margin: 0 50px;
  }

  span {
    display: flex;
  }
}

.notFound {
  &__container {
    text-align: center;
  }

  &__title {
    font-size: 28px;
    padding: 30px 0 20px 0;
  }

  &__img {
    border: #d9d9d9 solid;
  }
}

.main {
  background-color: #404040;
  padding: 50px 0px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-evenly;
  flex-wrap: wrap;

  height: 1vh;

  button {
    cursor: pointer;
    border: none;
    width: 80px;
    height: 50px;
    border-radius: 10px;
  }

  .hero_image {
    justify-self: center;
    grid-column: 1;
    border: gray solid;
    border-width: 1px;
  }

  &__rightSideColumn {
    grid-column: 2;
    overflow-y: auto;
    max-height: 100vh;
  }

  .info_box {
    background-color: #d9d9d9;
    color: black;
    max-width: 750px;
    height: 750px;
    padding: 25px 25px;
    display: flex;
    flex-direction: column;

    &__attribute {
      font-size: 24px;
    }

    &__value {
      font-size: 16px;
      min-height: 20px;
      max-height: 200px;
      overflow: scroll;
      padding-top: 5px;
    }

    &__link_to_event {
      border-radius: 10px;
      border: solid black 1px;
      margin: auto;
      padding: 15px;
      font-size: 14px;
    }

    &__navigation {
      font-size: 38px;
      display: flex;
      justify-content: space-between;
      margin-top: auto;
    }

    .scrollDownToSeeComments {
      text-align: end;
      font-size: 24px;
    }
  }

  .commentsList {
    grid-column: 2;
    max-width: 750px;
    border: white solid;
    border-radius: 10px;
    margin-top: 5px;
    padding: 15px;
    background-color: white;
    color: black;

    &__header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 5px;
      align-items: center;

      &__title {
        font-size: 24px;
      }

      &__signedInInfo {
        font-family: Arial, Helvetica, sans-serif;
      }

      &__login_button {
        padding: 10px;
        width: 170px;
        background-color: green;
        border-radius: 15px;
        border: none;
      }

      &__logout_button {
        padding: 10px;
        width: 170px;
        background-color: red;
        border-radius: 15px;
        border: none;
      }
    }

    .commentCard {
      padding: 15px;
      font-family: Arial, Helvetica, sans-serif;
      display: grid;
      grid-template-columns: 6fr 1fr;
      grid-column-gap: 20px;

      &__profilePicSection {
        display: flex;

        .profilePicture {
          margin: 0 15px 0 0;
          border-radius: 50px;
        }
      }

      &__username {
        font-size: 1.2em;
        font-weight: bold;
        grid-column: 1;
      }

      &__timeSince {
        font-size: 12px;
        grid-column: 1;
        margin-left: 10px;
        padding-top: 5px;
      }

      &__comment {
        grid-column: 1;
        margin: 0 0 0 50px;
      }

      &__options {
        display: none;
      }

      &:hover {
        background-color: #d9d9d9;
        border-radius: 10px;

        .commentCard {
          &__options {
            cursor: pointer;
            display: inline-flex;
            grid-column: 2;
            justify-self: end;

            :nth-child(1) {
              padding-right: 8px;
            }
          }
        }
      }
    }
  }

  .comment {
    display: grid;
    grid-template-columns: repeat(2, 1fr) auto;
    grid-column-gap: 20px;
    width: 100%;

    &__container {
      display: flex;
      align-items: center;
    }

    &__textArea__container {
      position: relative;
      width: 100%;
    }

    &__textArea {
      width: 97%;
      height: 100px;
      background-color: white;
      color: black;
      margin: 10px 10px;
      padding: 10px 10px 0 10px;
      border-radius: 10px;
      font-size: 16px;
      font-family: Arial, Helvetica, sans-serif;

      &__characterCount {
        position: absolute;
        bottom: 18px;
        right: 15px;
        padding: 0 5px;
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
      }

      &__submitBtn {
        background-color: green;
        margin: 0 5px 0 5px;
      }

      &__resetBtn {
        background-color: red;
      }
    }
  }
}

.thumbs_section {
  display: flexbox;
  margin: 50px 50px 10px 50px;
  text-align: center;
  &_image {
    border: gray solid;
    border-width: 1px;
    margin: 10px;
  }
}

.spacer {
  height: 30px;
}

.archive {
  height: 100%;
  &__title {
    font-size: 28px;
    text-align: center;
    padding-top: 30px;
  }
}

.about {
  text-align: center;
  margin: 0 auto;
  width: 80%;

  &__title {
    font-size: 28px;
    padding: 30px 0 8px 0;
  }

  &__prompt {
    font-style: italic;
    text-align: center;
    margin: auto;
    max-width: 500px;
  }

  i {
    text-decoration: underline;
    text-underline-offset: 0.2rem;
  }

  a {
    text-decoration: underline;
    text-underline-offset: 0.2rem;
  }

  &__logo {
    border-radius: 500px;
    margin-bottom: 10px;
  }

  &__architecture_diagram {
    background-color: rgba(255 255 255);
  }
}

.attribution_text {
  font-size: 12px;
  margin: auto;
}

.contact {
  display: flexbox;
  margin: auto 250px;
  font-size: 20px;

  &__title {
    font-size: 28px;
    text-align: center;
    padding: 30px;
  }

  &__email {
    font-size: 20px;
    text-align: center;
  }
}

@media (max-width: 1480px) {
  .main {
    display: flex;
  }

  .scrollDownToSeeComments {
    display: none;
  }
}

@media (max-width: 1000px) {
  .header {
    font-size: 18px;
    position: relative;
    z-index: 10;

    a {
      margin: 0 10px;
    }
  }
}

// MOBILE
@media (max-width: 760px) {
  .header {
    font-size: 10px;
    position: relative;
    z-index: 10;

    a {
      margin: 0 10px;
    }
  }

  .notFound {
    &__title {
      font-size: 28px;
      padding: 30px 0 20px 0;
    }

    &__img {
      object-fit: contain;
      height: 100vmin;
      width: auto;
    }
  }

  .main {
    padding: 0;

    .info_box {
      height: 600px;
      &__attribute {
        font-size: 20px;
      }

      &__value {
        font-size: 16px;
        min-height: 20px;
      }
    }

    .hero_image {
      object-fit: contain;
      height: 100vmin;
      width: auto;
      border: #d9d9d9 solid;
    }

    .commentsList {
      min-width: 100vmin;

      .commentCard {
        &__options {
          cursor: pointer;
          display: inline-flex;
          grid-column: 2;
          justify-self: end;

          :nth-child(1) {
            padding-right: 8px;
          }
        }
      }
    }

    .commentsList__header {
      display: contents;

      &__signedInInfo {
        margin: 5px 0 15px 0;
      }
    }
  }

  .thumbs_section {
    margin: 20px 0;
    &_image {
      margin: 5px;
    }
  }

  .attribution_text {
    margin-top: 20px;
  }

  .about {
    margin: 0 auto;
    width: 80%;
    font-size: 12px;

    &__title {
      text-align: center;
      font-size: 28px;
    }

    img {
      object-fit: contain;
      width: 80vmin;
      height: auto;
    }
  }

  .contact {
    padding-top: 50px;
    width: 80%;
    margin: 0 auto;

    &__email {
      font-size: 14px;
    }
  }
}
