@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&family=Julius+Sans+One&display=swap");

.main {
  background-color: #404040;
  font-family: "Julius Sans One", Geneva, Verdana, sans-serif;
  display: flex;
}

.header {
  font-family: "Julius Sans One", Geneva, Verdana, sans-serif;
  justify-content: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 55px;
  width: 100vw;
  background-color: #d9d9d9;
  font-size: 24px;
  color: black;

  a,
  div {
    margin: 0 50px;
  }

  span {
    display: flex;
  }
}

.hero_image {
  margin: 50px 25px 50px 50px;
}

.thumbs_section {
  display: flexbox;
  margin: 50px 50px 10px 50px;
  text-align: center;
  &_image {
    border: gray solid;
    border-width: 1px;
    margin: 10px;
  }
}

.info_box {
  margin: 50px 25px 50px 25px;
  background-color: #d9d9d9;
  color: black;
  width: 700px;
  height: 750px;
  padding: 25px 25px;
  display: flex;
  flex-direction: column;

  &__attribute {
    font-size: 28px;
  }

  &__value {
    font-size: 16px;
    max-height: 200px;
    overflow: scroll;
    padding-top: 5px;
  }

  &__link_to_event {
    font-size: 18px;
    text-align: end;
    margin-top: 15px;
  }

  &__link_to_event {
    text-decoration: underline;
    text-underline-offset: 0.2rem;
  }

  &__navigation {
    font-size: 38px;
    display: flex;
    justify-content: space-between;
    margin-top: auto;
  }
}

.spacer {
  height: 30px;
}

.about {
  display: flexbox;
  margin: 0 250px;
  font-family: "Julius Sans One", Geneva, Verdana, sans-serif;
  font-size: 20;

  &__title {
    font-size: 28px;
    text-align: center;
    padding: 30px;
  }

  &__prompt {
    font-style: italic;
    text-align: center;
    margin: auto;
    max-width: 500px;
  }

  a {
    text-decoration: underline;
    text-underline-offset: 0.2rem;
  }
}

.attribution_text {
  font-size: 18px;
  text-align: end;
  margin-top: 15px;
}

.contact {
  display: flexbox;
  margin: 0 250px;
  justify-content: center;
  font-family: "Julius Sans One", Geneva, Verdana, sans-serif;
  font-size: 20;

  &__title {
    font-size: 28px;
    text-align: center;
    padding: 30px;
  }

  &__email {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 24px;
    text-align: center;
  }
}
