$--hourglass_h: 100px;
$--hourglass_w: 105px;
$--sand_w: calc($--hourglass_h/2);
$--sand_colour: #e1a500;
$--sand_animation_duration: 1s;

@keyframes sandFlowTop {
  100% {
    transform: scale(0);
    transform-origin: bottom;
  }
}

@keyframes sandFlowBottom {
  0% {
    transform: scale(0);
    transform-origin: top;
  }
}

.hourglass_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
}

.hourglass {
  position: relative;
  width: $--hourglass_w;
  height: $--hourglass_h;
  fill: #3a5378;
}

.sandTop {
  margin: auto;
  fill: $--sand_colour;
  animation: sandFlowTop $--sand_animation_duration linear infinite;
}

.sandBottom {
  margin: auto;
  fill: $--sand_colour;
  animation: sandFlowBottom $--sand_animation_duration linear infinite;
}
