$--hourglass_h: 60px;
$--sand_w: calc($--hourglass_h/1.8);
$--sand_colour: white;
$--sand_animation_duration: 3s;

@keyframes sandFlowTop {
  0%,
  100% {
    margin-top: 0%;
    height: 80%;
    width: 80%;
  }
  50% {
    margin-top: 100%;
    height: 0%;
    width: 0%;
  }
  51% {
    margin-top: 0%;
  }
}

@keyframes sandFlowBottom {
  0%,
  100% {
    margin-top: 100%;
    height: 0%;
    width: 0%;
  }
  50% {
    margin-top: 0%;
    height: 100%;
    width: 80%;
  }
  99% {
    margin-top: 0%;
    margin-bottom: 100%;
  }
}

@keyframes rotateHourglass {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hourglass_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  will-change: contents;
}

.hourglass {
  position: relative;
  display: grid;
  grid-template-rows: 1fr 1fr;
  width: $--sand_w;
  height: $--hourglass_h;
  clip-path: polygon(
    0 0,
    100% 0,
    58% 48%,
    58% 52%,
    100% 100%,
    0 100%,
    42% 52%,
    42% 48%
  );
  border: 1.5px solid #ffffff;
  animation: rotateHourglass 3s linear infinite;
  animation-delay: 1.5s;
}

.sandTop {
  grid-row: 1;
  margin: auto;
  width: $--sand_w;
  background-color: $--sand_colour;
  animation: sandFlowTop $--sand_animation_duration linear infinite;
  clip-path: polygon(0% 0%, 100% 0%, 51% 50%, 51% 100%, 49% 50%);
}

.sandBottom {
  grid-row: 2;
  margin: auto;
  width: $--sand_w;
  background-color: $--sand_colour;
  animation: sandFlowBottom $--sand_animation_duration linear infinite;
  clip-path: polygon(0% 100%, 100% 100%, 51% 50%, 51% -50%, 49% 49%, 49% 50%);
}
