.notFound {
  &__container {
    text-align: center;
  }

  &__title {
    font-size: 28px;
    padding: 30px 0 20px 0;
  }

  &__img {
    border: #d9d9d9 solid;
  }
}

@media (max-width: 760px) {
  .notFound {
    &__title {
      font-size: 28px;
      padding: 30px 0 20px 0;
    }

    &__img {
      object-fit: contain;
      height: 100vmin;
      width: auto;
    }
  }
}
